In [2]:
import numpy as np
import pandas as pd

Task 1:  
Load the energy data from the file “En_In.xls”, which is a list of indicators
of energy supply and renewable electricity production, and put into a DataFrame.

In [3]:
energy = pd.read_excel("data\En_In.xls", skiprows=17, skipfooter=38)

In [4]:
energy

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650
...,...,...,...,...,...,...
222,NaN,Viet Nam,Viet Nam,2554,28,45.321520
223,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0.000000
224,NaN,Yemen,Yemen,344,13,0.000000
225,NaN,Zambia,Zambia,400,26,99.714670
226,NaN,Zimbabwe,Zimbabwe,480,32,52.536120

In [5]:
energy = energy[["Unnamed: 1", "Petajoules", "Gigajoules", "%"]]
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
...,...,...,...,...
222,Viet Nam,2554,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344,13,0.000000
225,Zambia,400,26,99.714670
226,Zimbabwe,480,32,52.536120

Task 2:  
Convert ‘Energy Supply’ to gigajoules (Note: there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

In [6]:
energy.dtypes

Country                      object
Energy Supply                object
Energy Supply per Capita     object
% Renewable                 float64
dtype: object

In [7]:
energy = energy.replace("...", np.nan)

In [8]:
energy["Energy Supply"] *= 1000000
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120

Task 3:  
Rename the following list of countries

In [9]:
energy['Country'] = energy['Country'].replace({'China, Hong Kong Special Administrative Region':'Hong Kong',
                                                'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
                                                'Republic of Korea':'South Korea','United States of America':'United States',
                                                'Iran (Islamic Republic of)':'Iran'})

In [10]:
energy.loc[energy["Country"].isin(["American Samoa", "South Korea", "United States", "Iran"])]

            Country  Energy Supply  Energy Supply per Capita  % Renewable
3    American Samoa            NaN                       NaN     0.641026
98             Iran   9.172000e+09                     119.0     5.707721
164     South Korea   1.100700e+10                     221.0     2.279353
216   United States   9.083800e+10                     286.0    11.570980

Task 5:  
Next, load the GDP data from the file “gpd.csv”, which is a csv containing countries’ GDP from 1960 to 2015 from World Bank. Make sure to skip the header, and rename the list of countries.

In [11]:
gpd = pd.read_csv('data/gpd.csv', skiprows=4)
gpd['Country Name'] = gpd['Country Name'].replace({'Korea, Rep.':'South Korea',
                                                   'Iran, Islamic Rep.':'Iran',
                                                   'Hong Kong SAR, China':'Hong Kong'})
gpd.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN

Task 6:  
Load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file “scimagojr.xlsx”, which ranks countries based on their journal contributions in the aforementioned area.

In [12]:
eeptrank = pd.read_excel("data\scimagojr.xlsx")
eeptrank.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

Task 7:  
Join the three datasets from tasks 1-6 into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-itations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

In [13]:
gpd = gpd[['Country Name', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
gpd.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
data = pd.merge(eeptrank, energy, how='inner', left_on='Country', right_on='Country')
data

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491
1,2,United States,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098
2,3,Japan,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.60047
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868
...,...,...,...,...,...,...,...,...,...,...,...
167,185,Belize,1,1,6,0,6.00,1,1.300000e+07,39.0,64.69003
168,186,Palau,1,1,0,0,0.00,0,3.000000e+06,152.0,18.75000
169,187,Guyana,1,1,0,0,0.00,0,3.400000e+07,45.0,0.00000
170,190,Saint Lucia,1,1,0,0,0.00,0,6.000000e+06,33.0,0.00000
171,191,Mauritania,1,1,1,0,1.00,1,5.100000e+07,13.0,0.00000

In [14]:
data2 = pd.merge(data, gpd, how='inner', left_on='Country', right_on='Country')
data2 = data2[:15]
data2 = data2.set_index("Country")
data2

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [15]:
data2.shape

(15, 20)

Task 8:  
Create a function to define what are the top 15 countries for average GDP over the last 10 years?
This function should return a Series with 15 countries and their average GDP sorted in descending order.

In [16]:
def task_8():
    avggdp = data2.iloc[:,10:].mean(axis=1)
    return avggdp.sort_values(ascending=False)

task_8()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

Task 9:  
Create a function to define by how much had the GDP changed over the past 10 year for the country with the 5th largest average GDP?
This function should return a tuple with the country’s name and number.

In [17]:
def task_9():
    gdp5 = task_8().index[4]
    value = data2.loc[gdp5]['2015'] - data2.loc[gdp5]['2006']
    return gdp5, value
task_9()

('France', 153345695364.24023)

Task 10:
Create a function to define what country has the maximum % Renewable and what is the percentage?

In [18]:
def task_10():
    maxrn = data2['% Renewable'].idxmax(), data2['% Renewable'].max()
    return maxrn
task_10()

('Brazil', 69.64803)

Task 11:  
Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the sixth most populous country according to this estimate?

In [19]:
def task_11():
    data2["Population"] = data2["Energy Supply"] / data2["Energy Supply per Capita"]
    mostpop = data2.sort_values("Population").iloc[-6]
    return mostpop.name, mostpop[-1]

task_11()

('Japan', 127409395.97315437)

Task 12:  
Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).

In [20]:
def task_12():
    data2["CitDocs per Person"] = data2["Citable documents"] / data2["Population"]
    return data2["CitDocs per Person"].corr(data2['Energy Supply per Capita'])
task_12()

0.7940010435442942

Task 13: 
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

In [21]:
def task_13():
    data2['Renewable % Over Meadian'] = np.where(data2['% Renewable'] >= np.median(data2['% Renewable']), 1, 0)
    return data2['Renewable % Over Meadian']
task_13()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: Renewable % Over Meadian, dtype: int32

Task 14:
Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

In [56]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

data2.groupby(by=ContinentDict)["Population"].agg(Size = "count", TotalPopulation = "sum", AvgPopulation = "mean", 
                                                  PopulationStdDv ="std")

               Size  TotalPopulation  AvgPopulation  PopulationStdDv
Asia              5     2.898666e+09   5.797333e+08     6.790979e+08
Australia         1     2.331602e+07   2.331602e+07              NaN
Europe            6     4.579297e+08   7.632161e+07     3.464767e+07
North America     2     3.528552e+08   1.764276e+08     1.996696e+08
South America     1     2.059153e+08   2.059153e+08              NaN

In [89]:
data2["Continent"] = pd.Series(ContinentDict)
data2

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2010,2011,2012,2013,2014,2015,Population,CitDocs per Person,Renewable % Over Meadian,Continent
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,...,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.367645e+09,0.000093,1,Asia
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,...,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,3.176154e+08,0.000298,0,North America
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,...,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.274094e+08,0.000238,0,Asia
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,...,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,6.387097e+07,0.000319,0,Europe
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,...,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,1.435000e+08,0.000128,1,Europe
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,...,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,3.523986e+07,0.000500,1,North America
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,...,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,8.036970e+07,0.000209,1,Europe
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,...,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,1.276731e+09,0.000012,0,Asia
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,...,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,6.383735e+07,0.000203,1,Europe
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,...,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,4.980543e+07,0.000239,0,Asia
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,...,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,5.990826e+07,0.000180,1,Europe
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,...,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4.644340e+07,0.000201,1,Europe
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,...,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,7.707563e+07,0.000114,0,Asia
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,...,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,2.331602e+07,0.000374,0,Australia
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,...,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,2.059153e+08,0.000042,1,South America

In [107]:
mask = data2.groupby("Continent")["Documents"].transform(max) == data2['Documents']
result = data2[mask]
result[["Continent", "Documents"]]

                    Continent  Documents
Country
China                    Asia     127050
United States   North America      96661
United Kingdom         Europe      20944
Australia           Australia       8831
Brazil          South America       8668